<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restricted Page</title>
</head>
<body>
    <h2>회원 전용 페이지</h2>
    <p>이 페이지는 로그인한 사용자만 볼 수 있습니다.</p>

    <form action="/api/user/logout" method="POST">
        <button type="submit">로그아웃</button>
    </form>
    <form action="/" method="GET">
        <button type="submit">메인페이지</button>
    </form>
    <form action="/mypage" method="GET">
        <button type="submit">내 정보</button>
    </form>


</body>
</html>
