<%@ page contentType="text/html; charset=UTF-8" %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 성공</title>
</head>
<body>
    <h2>회원가입이 성공적으로 완료되었습니다!</h2>
     <form action="/signup" method="GET">
          <button type="submit">다시 회원가입하기</button>
     </form>
     <form action="/login" method="GET">
          <button type="submit">로그인</button>
     </form>
</body>
</html>
